<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <%= link_to "AwesomeEvents", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "GitHubでログイン", "/auth/github", class: "nav-link", method: :post %>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
